@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.site-bg {
  display: flex;
  background-color: #F7F9FA;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 86px;
  color: black;
}

.card {
  display: flex;
  flex-direction: column;
  width: 50vh;
  height: 248px;  
  background-color: white;
  margin-top: 48px;
  justify-content: center;
  align-items: center;
  padding: 48px;
}